MAILTO=glen@delfi.ee

# Run nightly. Be sure that they do not run at same time.
12    03 *  *  * sphinx indexer --config /etc/sphinx/sphinx.conf --rotate --quiet phorum5_msg
22    03 *  *  * sphinx indexer --config /etc/sphinx/sphinx.conf --rotate --quiet phorum5_author

# Run after every 10 minutes
*/10  *  *  *  * sphinx indexer --config /etc/sphinx/sphinx.conf --rotate --quiet phorum5_msg_d
*/10  *  *  *  * sphinx indexer --config /etc/sphinx/sphinx.conf --rotate --quiet phorum5_author_d

# vim:ts=3:sw=3:et
